* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.app {
  width: 100%;
  margin: 0;
}
.main-app {
  // padding-top: 9rem;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.intro {
  width: 100%;
  min-height: 800px;
  padding: 5.5rem 8rem;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h1 {
    text-align: left;
    font-size: 50px;
  }

  p {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 4rem;
    max-width: 800px;
  }
}

.button {
  cursor: pointer;
  transition: all 0.3s;
}

h1 {
  text-align: center;
  font-size: 42px;
  line-height: 1.2;
}
h3 {
  font-size: 1.375em;
  font-weight: 600;
}

//Helper classes
.text-bold {
  font-weight: 800;
}
.text-semi-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .main .intro {
    padding: 6rem 1.5rem;
    min-height: 100vh;

    .intro-title {
      font-size: 44px;
      margin-top: 4rem;
    }

    .intro-text {
      font-size: 22px;
      margin-bottom: 0;
    }
  }
}